@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Open+Sans:wght@400;700&display=swap");
$font-1: "Nunito", sans-serif;
$font-2: "Open Sans", sans-serif;

$color-1: #bc2c33; // Primary  Orange
$color-2: #edcc5d; // Scondary purple
$color-3: #60965c;

$white: #fff;
$black: #060001;

$border: solid 2px $black;
$borderRadius: 0;
$shadow: 8px 8px 0px 1px rgba(0, 0, 0, 0.75);

$minHeight: 95vh;

button {
  cursor: pointer;
  margin: 10px 20px;
  // height: 40px;

  padding: 0.3rem 1.1rem;

  background: $white;
  border: $border;

  font-size: 1rem;
  font-weight: 700;
  font-family: $font-2;
  text-decoration: none;

  display: inline-block;

  &:hover {
    background: $color-3;
    color: $white;
    box-shadow: $shadow;
  }
}

li {
  list-style: none;
}

a {
  cursor: pointer;
  color: $color-1;
  text-decoration: none;

  &:hover {
    color: $color-2;
  }

  &:visited {
    color: $color-2;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 1rem auto;
  // max-width: 1200px; //// Bizarre
  font-family: $font-1;
  color: $black;
}

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
